.slider-section {
  background: #f1f1f1;
  margin-top: 165px;
  height: 973px;

  h2 {
    padding-top: 70px;
    display: flex;
    justify-content: center;
    font-weight: 600;
    font-size: 45px;
    line-height: 60%;
    color: #c5c5c5;
  }

  .slider {
    margin-top: 100px;
    display: flex;
    justify-content: start;
    position: relative;

    .slider-content {
      overflow: hidden;
      width: 100%;
    }

    .slider-track {
      display: flex;
      transition: transform 0.5s ease-in-out;
    }

    .slider-item {
      flex: 0 0 20%; /* Показываем по 3 карточки одновременно */
      padding: 10px;
    }

    &__buttons {
      margin-top: 114px;
      display: flex;
      align-items: center;
      justify-content: center;

      .slider-controls {
        width: 166px;
        height: 68px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 25px;
        box-shadow: 0 43px 34px -26px rgba(15, 15, 15, 0.12);
        background: #fcfcfd;
        padding: 10px;
      }

      .slider-button {
        background-color: transparent;
        border: none;
        padding: 10px;
        cursor: pointer;
        font-size: 18px;
        color: #888;
        display: flex;
        align-items: center;
        justify-content: center;

        svg {
          fill: '#929292';
        }
      }

      .slider-button:hover {
        svg {
          fill: #23262f;
        }
      }

      .separator {
        width: 1px;
        height: 24px;
        background-color: #e0e0e0;
        margin: 0 15px;
      }
    }
  }
}
