@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap');

$light-grey: rgba(1, 1, 1, 0.6);
$black: #010101;
$black-80: rgba(1, 1, 1, 0.8);
$white: #f1f1f1;
$drop-shadow-grey: #222;
$light-organge: #f5a66b;
$circle-color-gray: #8c8c8c;
$dark-orange: #ca6c26;
$white-gray: #d9d9d9;
$star-color: #f00;
$blue: #182f83;
