.top-collection {
  margin: 236px 0 0 0;

  h2 {
    display: flex;
    justify-content: center;
    font-weight: 600;
    font-size: 45px;
    line-height: 99%;
    color: #141416;
  }

  &__table {
    position: absolute;
    margin-top: 90px;
    padding: 0 97px;

    &--head {
      width: 1243px;
      height: 27px;
      display: flex;
      justify-content: space-between;
      font-weight: 500;
      font-size: 22px;
      line-height: 130%;
      letter-spacing: 0.01em;
      color: #93989a;
      margin-bottom: 48px;

      th {
        &:first-child {
          margin-right: 341px;
        }
      }
    }

    &--body {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 1247px;
      height: 110px;
      border-bottom: 1.69px solid #ebe9e9;

      &__collection {
        display: flex;
        align-items: center;
        width: 417px;

        img {
          width: 84px;
          height: 84px;
          border: 3.5px solid #fff;
          border-radius: 1751px;
          margin-right: 24px;
        }

        h4 {
          font-weight: 500;
          font-size: 28px;
          line-height: 140%;
          color: #141416;
        }

        p {
          margin-top: 1.75px;
          font-weight: 400;
          font-size: 22px;
          line-height: 150%;
          color: #64748b;
        }
      }

      &__volume {
        width: 105px;
        margin-left: 17px;
        display: flex;
        font-weight: 600;
        font-size: 24px;
        line-height: 140%;
        color: #141416;
      }

      &__gain {
        width: 109px;
        margin-left: 10px;
        font-weight: 500;
        font-size: 24px;
        line-height: 130%;
        letter-spacing: 0.01em;
        color: #10c352;
      }

      &__price {
        margin-right: 75px;
        display: flex;
        width: 72px;
        height: 34px;
        font-weight: 600;
        font-size: 24px;
        line-height: 140%;
        color: #141416;
      }

      &__owners {
        padding-right: 66px;
      }
      .text {
        font-weight: 500;
        font-size: 23px;
        line-height: 130%;
        letter-spacing: 0.01em;
        color: #010101;
      }
    }
  }

  &__link {
    display: flex;
    align-items: center;
    margin: 812px 104.21px 0 1215px;
    text-decoration: none;

    &:hover {
      opacity: 0.7;
    }

    p {
      font-weight: 500;
      font-size: 17px;
      line-height: 226%;
      letter-spacing: -0.01em;
      text-align: right;
      color: #acadb9;
    }

    .line {
      margin-left: 17px;
    }

    .arrow {
      margin-left: -8.5px;
    }
  }
}
