@import '../../styles/colorsFonts.scss';

.how-made {
  margin-top: 90px;
  display: flex;

  &__left-side {
    width: 488px;
    margin-left: 100px;
    padding-top: 227px;

    h2 {
      font-weight: 300;
      font-size: 64px;
      letter-spacing: -0.05em;
      color: $black;
    }

    p {
      margin-top: 30px;
      font-weight: 400;
      font-size: 24px;
      line-height: 150%;
      letter-spacing: -0.05em;
      color: $light-grey;

      strong {
        font-weight: 600;
      }
    }

    .image {
      width: 150px;
      height: 100px;
      margin-left: 323px;
    }

    button {
      margin-top: 30px;
      box-shadow: -10px -12px 0 0 #f3a56b !important;
    }
  }

  &__right-side {
    width: 600px;
    margin-left: 200px;

    &__list {
      display: flex;
      flex-wrap: wrap;
      row-gap: 70px;
      column-gap: 90px;

      li {
        list-style: none;
        width: 254px;

        h3 {
          font-weight: 400;
          font-size: 24px;
          letter-spacing: -0.05em;
          text-align: center;
        }

        p {
          margin-top: 20px;
          font-weight: 400;
          font-size: 18px;
          line-height: 140%;
          letter-spacing: -0.05em;
          text-align: center;
          color: $light-grey;
        }
      }
    }
  }
}
